* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --font-heading: "Sen";
  --primary-color: rgb(158, 158, 11);
}

body {
  font-size: 1.6rem;
}

/* ======== Common ======== */
a {
  text-decoration: none;
}

/* NEW HEADER */
.container-fluid {
  display: flex;
  height: 68px;
  background-color: yellow;
  align-items: center;
}

.container-fluid.fixed {
  position: sticky;
  top: -1px; /* khoảng cách sẽ dừng lại - chưa biết tính sao cho đúng */
}

.container-fluid .logo {
  width: 100px;
}
.nav .navbar-menu {
  display: flex;
}

.nav .navbar-menu a {
  color: rgb(119, 119, 119);
  font-size: 1.8rem;
  font-weight: 600;
  padding: 20px 26px;
}

.nav .navbar-menu a:hover {
  color: black;
  font-weight: 900;
}

.header-contact {
  margin-left: auto;
}
